
:root {
    --color-primary-50: 239 253 245;
    --color-primary-100: 217 251 232;
    --color-primary-200: 179 245 209;
    --color-primary-300: 117 237 174;
    --color-primary-400: 0 220 130;
    --color-primary-500: 0 193 106;
    --color-primary-600: 0 161 85;
    --color-primary-700: 0 127 69;
    --color-primary-800: 1 101 56;
    --color-primary-900: 10 83 49;
    --color-primary-950: 5 46 22;
    --color-primary-DEFAULT: var(--color-primary-500);
    --color-gray-50: 248 250 252;
    --color-gray-100: 241 245 249;
    --color-gray-200: 226 232 240;
    --color-gray-300: 203 213 225;
    --color-gray-400: 148 163 184;
    --color-gray-500: 100 116 139;
    --color-gray-600: 71 85 105;
    --color-gray-700: 51 65 85;
    --color-gray-800: 30 41 59;
    --color-gray-900: 15 23 42;
    --color-gray-950: 2 4 32;

    --header-height: 4rem;
    --ui-background: 255 255 255;
    --ui-foreground: var(--color-gray-700);

    --color-light: #00C16A;
    --color-dark: #00DC82;
}




.\!text-foreground {
    --tw-text-opacity: 1!important;
    color: rgb(var(--ui-foreground)/var(--tw-text-opacity))!important
}

.text-\[\#00DC82\] {
    --tw-text-opacity: 1;
    color: rgb(0 220 130/var(--tw-text-opacity))
}

.text-\[\#E4E4E7\] {
    --tw-text-opacity: 1;
    color: rgb(228 228 231/var(--tw-text-opacity))
}

.text-\[--color-light\] {
    color: var(--color-light)
}

.text-amber-400 {
    --tw-text-opacity: 1;
    color: rgb(251 191 36/var(--tw-text-opacity))
}

.text-amber-500 {
    --tw-text-opacity: 1;
    color: rgb(245 158 11/var(--tw-text-opacity))
}

.text-background {
    --tw-text-opacity: 1;
    color: rgb(var(--ui-background)/var(--tw-text-opacity))
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.text-blue-400 {
    --tw-text-opacity: 1;
    color: rgb(96 165 250/var(--tw-text-opacity))
}

.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246/var(--tw-text-opacity))
}

.text-cyan-400 {
    --tw-text-opacity: 1;
    color: rgb(34 211 238/var(--tw-text-opacity))
}

.text-cyan-500 {
    --tw-text-opacity: 1;
    color: rgb(6 182 212/var(--tw-text-opacity))
}

.text-emerald-400 {
    --tw-text-opacity: 1;
    color: rgb(52 211 153/var(--tw-text-opacity))
}

.text-emerald-500 {
    --tw-text-opacity: 1;
    color: rgb(16 185 129/var(--tw-text-opacity))
}

.text-fuchsia-400 {
    --tw-text-opacity: 1;
    color: rgb(232 121 249/var(--tw-text-opacity))
}

.text-fuchsia-500 {
    --tw-text-opacity: 1;
    color: rgb(217 70 239/var(--tw-text-opacity))
}

.text-green-400 {
    --tw-text-opacity: 1;
    color: rgb(0 220 130/var(--tw-text-opacity))
}

.text-green-500 {
    --tw-text-opacity: 1;
    color: rgb(0 193 106/var(--tw-text-opacity))
}

.text-indigo-400 {
    --tw-text-opacity: 1;
    color: rgb(129 140 248/var(--tw-text-opacity))
}

.text-indigo-500 {
    --tw-text-opacity: 1;
    color: rgb(99 102 241/var(--tw-text-opacity))
}

.text-inherit {
    color: inherit
}

.text-lime-400 {
    --tw-text-opacity: 1;
    color: rgb(163 230 53/var(--tw-text-opacity))
}

.text-lime-500 {
    --tw-text-opacity: 1;
    color: rgb(132 204 22/var(--tw-text-opacity))
}

.text-orange-400 {
    --tw-text-opacity: 1;
    color: rgb(251 146 60/var(--tw-text-opacity))
}

.text-orange-500 {
    --tw-text-opacity: 1;
    color: rgb(249 115 22/var(--tw-text-opacity))
}

.text-pink-400 {
    --tw-text-opacity: 1;
    color: rgb(244 114 182/var(--tw-text-opacity))
}

.text-pink-500 {
    --tw-text-opacity: 1;
    color: rgb(236 72 153/var(--tw-text-opacity))
}

.text-primary {
    --tw-text-opacity: 1;
    color: rgb(var(--color-primary-DEFAULT)/var(--tw-text-opacity))
}

.text-primary-400 {
    --tw-text-opacity: 1;
    color: rgb(var(--color-primary-400)/var(--tw-text-opacity))
}

.text-primary-500 {
    --tw-text-opacity: 1;
    color: rgb(var(--color-primary-500)/var(--tw-text-opacity))
}

.text-primary-600 {
    --tw-text-opacity: 1;
    color: rgb(var(--color-primary-600)/var(--tw-text-opacity))
}

.text-purple-400 {
    --tw-text-opacity: 1;
    color: rgb(192 132 252/var(--tw-text-opacity))
}

.text-purple-500 {
    --tw-text-opacity: 1;
    color: rgb(168 85 247/var(--tw-text-opacity))
}

.text-red-400 {
    --tw-text-opacity: 1;
    color: rgb(248 113 113/var(--tw-text-opacity))
}

.text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68/var(--tw-text-opacity))
}

.text-red-600 {
    --tw-text-opacity: 1;
    color: rgb(220 38 38/var(--tw-text-opacity))
}

.text-rose-400 {
    --tw-text-opacity: 1;
    color: rgb(251 113 133/var(--tw-text-opacity))
}

.text-rose-500 {
    --tw-text-opacity: 1;
    color: rgb(244 63 94/var(--tw-text-opacity))
}

.text-sky-400 {
    --tw-text-opacity: 1;
    color: rgb(56 189 248/var(--tw-text-opacity))
}

.text-sky-500 {
    --tw-text-opacity: 1;
    color: rgb(14 165 233/var(--tw-text-opacity))
}

.text-teal-400 {
    --tw-text-opacity: 1;
    color: rgb(45 212 191/var(--tw-text-opacity))
}

.text-teal-500 {
    --tw-text-opacity: 1;
    color: rgb(20 184 166/var(--tw-text-opacity))
}

.text-violet-400 {
    --tw-text-opacity: 1;
    color: rgb(167 139 250/var(--tw-text-opacity))
}



.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.text-5xl {
    font-size: 3rem;
    line-height: 1
}

.text-\[10px\] {
    font-size: 10px
}

.text-\[11px\] {
    font-size: 11px
}

.text-\[12px\] {
    font-size: 12px
}

.text-\[14px\] {
    font-size: 14px
}

.text-\[15px\] {
    font-size: 15px
}

.text-\[24px\] {
    font-size: 24px
}

.text-\[32px\] {
    font-size: 32px
}

.text-\[4px\] {
    font-size: 4px
}

.text-\[5px\] {
    font-size: 5px
}

.text-\[6px\] {
    font-size: 6px
}

.text-\[75px\] {
    font-size: 75px
}

.text-\[7px\] {
    font-size: 7px
}

.text-\[8px\] {
    font-size: 8px
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.text-base\/7 {
    font-size: 1rem;
    line-height: 1.75rem
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-lg\/8 {
    font-size: 1.125rem;
    line-height: 2rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-sm\/6 {
    font-size: .875rem;
    line-height: 1.5rem
}

.h-\[--header-height\] {
    height: var(--header-height)
}

.frame-1-5rem {
    width: 1.5rem;
    height: 1.5rem;
}

.font-small {
    font-size: .64rem;
}

.font-small-medium {
    font-size: .84rem;
}

.font-large-medium {
    font-size: 1.2rem;
}



.\!p-4 {
    padding: 1rem!important
}

.p-0 {
    padding: 0
}

.p-0\.5 {
    padding: .125rem
}

.p-1 {
    padding: .25rem
}

.p-1\.5 {
    padding: .375rem
}

.p-11 {
    padding: 2.75rem
}

.p-16 {
    padding: 4rem
}

.p-2 {
    padding: .5rem
}

.p-2\.5 {
    padding: .625rem
}

.p-3 {
    padding: .75rem
}

.p-4 {
    padding: 1rem
}

.p-5 {
    padding: 1.25rem
}

.p-6 {
    padding: 1.5rem
}

.p-8 {
    padding: 2rem
}

.p-px {
    padding: 1px
}

.\!py-6 {
    padding-bottom: 1.5rem!important;
    padding-top: 1.5rem!important
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.px-1\.5 {
    padding-left: .375rem;
    padding-right: .375rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-2\.5 {
    padding-left: .625rem;
    padding-right: .625rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-3\.5 {
    padding-left: .875rem;
    padding-right: .875rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.py-0\.5 {
    padding-bottom: .125rem;
    padding-top: .125rem
}

.py-1 {
    padding-bottom: .25rem;
    padding-top: .25rem
}

.py-1\.5 {
    padding-bottom: .375rem;
    padding-top: .375rem
}

.py-12 {
    padding-bottom: 3rem;
    padding-top: 3rem
}

.py-14 {
    padding-bottom: 3.5rem;
    padding-top: 3.5rem
}

.py-2 {
    padding-bottom: .5rem;
    padding-top: .5rem
}

.py-2\.5 {
    padding-bottom: .625rem;
    padding-top: .625rem
}

.py-24 {
    padding-bottom: 6rem;
    padding-top: 6rem
}

.py-3 {
    padding-bottom: .75rem;
    padding-top: .75rem
}

.py-3\.5 {
    padding-bottom: .875rem;
    padding-top: .875rem
}

.py-4 {
    padding-bottom: 1rem;
    padding-top: 1rem
}

.py-5 {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem
}

.py-6 {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem
}

.py-8 {
    padding-bottom: 2rem;
    padding-top: 2rem
}

.pb-0 {
    padding-bottom: 0
}

.pb-1 {
    padding-bottom: .25rem
}

.pb-10 {
    padding-bottom: 2.5rem
}

.pb-2 {
    padding-bottom: .5rem
}

.pb-24 {
    padding-bottom: 6rem
}

.pb-3 {
    padding-bottom: .75rem
}

.pb-4 {
    padding-bottom: 1rem
}

.pb-6 {
    padding-bottom: 1.5rem
}

.pe-10 {
    padding-inline-end:2.5rem}

.pe-11 {
    padding-inline-end:2.75rem}

.pe-12 {
    padding-inline-end:3rem}

.pe-2 {
    padding-inline-end:.5rem}

.pe-7 {
    padding-inline-end:1.75rem}

.pe-8 {
    padding-inline-end:2rem}

.pe-9 {
    padding-inline-end:2.25rem}

.pl-3\.5 {
    padding-left: .875rem
}

.pl-4 {
    padding-left: 1rem
}

.pl-8 {
    padding-left: 2rem
}

.pl-\[100px\] {
    padding-left: 100px
}

.pr-2 {
    padding-right: .5rem
}

.pr-3 {
    padding-right: .75rem
}

.pr-4 {
    padding-right: 1rem
}

.pr-6 {
    padding-right: 1.5rem
}

.ps-10 {
    padding-inline-start:2.5rem}

.ps-11 {
    padding-inline-start:2.75rem}

.ps-12 {
    padding-inline-start:3rem}

.ps-4 {
    padding-inline-start:1rem}

.ps-7 {
    padding-inline-start:1.75rem}

.ps-8 {
    padding-inline-start:2rem}

.ps-9 {
    padding-inline-start:2.25rem}

.pt-0 {
    padding-top: 0
}

.pt-1 {
    padding-top: .25rem
}

.pt-1\.5 {
    padding-top: .375rem
}

.pt-12 {
    padding-top: 3rem
}

.pt-2 {
    padding-top: .5rem
}

.pt-20 {
    padding-top: 5rem
}

.pt-3 {
    padding-top: .75rem
}

.pt-6 {
    padding-top: 1.5rem
}

.pt-8 {
    padding-top: 2rem
}

.pt-\[100\%\] {
    padding-top: 100%
}



.-m-1\.5 {
    margin: -.375rem
}

.-m-\[4px\] {
    margin: -4px
}

.m-0 {
    margin: 0
}

.m-auto {
    margin: auto
}

.\!my-0 {
    margin-bottom: 0!important;
    margin-top: 0!important
}

.-mx-1 {
    margin-left: -.25rem;
    margin-right: -.25rem
}

.-mx-2\.5 {
    margin-left: -.625rem;
    margin-right: -.625rem
}

.-mx-4 {
    margin-left: -1rem;
    margin-right: -1rem
}

.-my-1 {
    margin-bottom: -.25rem;
    margin-top: -.25rem
}

.-my-1\.5 {
    margin-bottom: -.375rem;
    margin-top: -.375rem
}

.mx-1 {
    margin-left: .25rem;
    margin-right: .25rem
}

.mx-2\.5 {
    margin-left: .625rem;
    margin-right: .625rem
}

.mx-3 {
    margin-left: .75rem;
    margin-right: .75rem
}

.mx-\[9\.5px\] {
    margin-left: 9.5px;
    margin-right: 9.5px
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-0 {
    margin-bottom: 0;
    margin-top: 0
}

.my-2 {
    margin-bottom: .5rem;
    margin-top: .5rem
}

.my-5 {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem
}

.my-6 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem
}

.my-8 {
    margin-bottom: 2rem;
    margin-top: 2rem
}

.my-auto {
    margin-bottom: auto;
    margin-top: auto
}

.\!mt-6 {
    margin-top: 1.5rem!important
}

.-mb-\[2px\] {
    margin-bottom: -2px
}

.-mb-px {
    margin-bottom: -1px
}

.-me-1\.5 {
    margin-inline-end:-.375rem}

.-ml-1\.5 {
    margin-left: -.375rem
}

.-ml-6 {
    margin-left: -1.5rem
}

.-ml-px {
    margin-left: -1px
}

.-mt-1 {
    margin-top: -.25rem
}

.-mt-12 {
    margin-top: -3rem
}

.-mt-20 {
    margin-top: -5rem
}

.-mt-4 {
    margin-top: -1rem
}

.-mt-6 {
    margin-top: -1.5rem
}

.-mt-8 {
    margin-top: -2rem
}

.mb-0 {
    margin-bottom: 0
}

.mb-1 {
    margin-bottom: .25rem
}

.mb-1\.5 {
    margin-bottom: .375rem
}

.mb-10 {
    margin-bottom: 2.5rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-3 {
    margin-bottom: .75rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-5 {
    margin-bottom: 1.25rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mb-8 {
    margin-bottom: 2rem
}

.ml-1 {
    margin-left: .25rem
}

.ml-12 {
    margin-left: 3rem
}

.ml-2 {
    margin-left: .5rem
}

.ml-2\.5 {
    margin-left: .625rem
}

.ml-3 {
    margin-left: .75rem
}

.ml-6 {
    margin-left: 1.5rem
}

.ml-auto {
    margin-left: auto
}

.mr-1 {
    margin-right: .25rem
}

.mr-1\.5 {
    margin-right: .375rem
}

.mr-2 {
    margin-right: .5rem
}

.ms-3 {
    margin-inline-start:.75rem}

.ms-auto {
    margin-inline-start:auto}

.mt-0 {
    margin-top: 0
}

.mt-1 {
    margin-top: .25rem
}

.mt-10 {
    margin-top: 2.5rem
}

.mt-12 {
    margin-top: 3rem
}

.mt-2 {
    margin-top: .5rem
}

.mt-3 {
    margin-top: .75rem
}

.mt-4 {
    margin-top: 1rem
}

.mt-5 {
    margin-top: 1.25rem
}

.mt-6 {
    margin-top: 1.5rem
}

.mt-8 {
    margin-top: 2rem
}


@media (prefers-color-scheme: dark) {

    body {
        --tw-bg-opacity: 1;
        background-color: rgb(var(--ui-background)/var(--tw-bg-opacity));
        font-family: Inter, "Inter Fallback: Arial",ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
        --tw-text-opacity: 1;
        color: rgb(var(--ui-foreground)/var(--tw-text-opacity));
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }
    :root {
        --ui-background: var(--color-gray-950);
        --ui-foreground: var(--color-gray-200);
    }
}
