//tip
._tip {
  --color-light: #00C16A;
  --color-dark: #00DC82;
  background-color: #b3f5d166;
  border-color: #00dc824d;
  --tw-text-opacity: 1;
  color: rgb(10 83 49/var(--tw-text-opacity))
}

.dark\:tip {
  --tw-border-opacity: 1;
  background-color: #0a5331b3;
  border-color: rgb(0 161 85/ 1);
  --tw-text-opacity: 1;
  color: rgb(179 245 209 / var(--tw-text-opacity));
}



._tip :is(:where(a):not(:where([class~=not-prose],[class~=not-prose] *))) {
  --tw-text-opacity: 1;
  color: rgb(0 193 106/var(--tw-text-opacity))
}

._tip :is(:where(a):not(:where([class~=not-prose],[class~=not-prose] *))):hover {
  --tw-border-opacity: 1;
  border-color: rgb(0 193 106/var(--tw-border-opacity))
}

._tip :is(:where(code):not(:where([class~=not-prose],[class~=not-prose] *))) {
  --tw-text-opacity: 1;
  color: rgb(0 127 69/var(--tw-text-opacity))
}

._tip:is(.dark *) {
  --tw-border-opacity: 1!important;
  background-color: #0a5331b3!important;
  border-color: rgb(0 161 85/var(--tw-border-opacity))!important;
  --tw-text-opacity: 1;
  color: rgb(179 245 209/var(--tw-text-opacity))
}

._tip :is(:where(a):not(:where([class~=not-prose],[class~=not-prose] *))):is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(0 220 130/var(--tw-text-opacity))
}

._tip :is(:where(a):not(:where([class~=not-prose],[class~=not-prose] *))):hover:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(0 220 130/var(--tw-border-opacity))
}

._tip :is(:where(code):not(:where([class~=not-prose],[class~=not-prose] *))):is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(179 245 209/var(--tw-text-opacity))
}

._tip a code:hover {
  --tw-border-opacity: 1!important;
  border-color: rgb(0 220 130/var(--tw-border-opacity))!important;
  --tw-text-opacity: 1!important;
  color: rgb(0 161 85/var(--tw-text-opacity))!important
}

._tip a code:hover:is(.dark *) {
  --tw-border-opacity: 1!important;
  border-color: rgb(0 220 130/var(--tw-border-opacity))!important;
  --tw-text-opacity: 1!important;
  color: rgb(0 220 130/var(--tw-text-opacity))!important
}
._note {
  background-color: #bfdbfe66!important;
  border-color: #60a5fa4d!important;
  --color-light: #3b82f6;
  --color-dark: #60a5fa;
  --tw-text-opacity: 1;
  color: rgb(30 58 138/var(--tw-text-opacity))
}

._note :is(:where(a):not(:where([class~=not-prose],[class~=not-prose] *))) {
  --tw-text-opacity: 1;
  color: rgb(59 130 246/var(--tw-text-opacity))
}

._note :is(:where(a):not(:where([class~=not-prose],[class~=not-prose] *))):hover {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246/var(--tw-border-opacity))
}

._note :is(:where(code):not(:where([class~=not-prose],[class~=not-prose] *))) {
  --tw-text-opacity: 1;
  color: rgb(29 78 216/var(--tw-text-opacity))
}

._note:is(.dark *) {
  --tw-border-opacity: 1!important;
  background-color: #1e3a8ab3!important;
  border-color: rgb(37 99 235/var(--tw-border-opacity))!important;
  --tw-text-opacity: 1;
  color: rgb(191 219 254/var(--tw-text-opacity))
}

._note :is(:where(a):not(:where([class~=not-prose],[class~=not-prose] *))):is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(96 165 250/var(--tw-text-opacity))
}

._note :is(:where(a):not(:where([class~=not-prose],[class~=not-prose] *))):hover:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(96 165 250/var(--tw-border-opacity))
}

._note :is(:where(code):not(:where([class~=not-prose],[class~=not-prose] *))):is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(191 219 254/var(--tw-text-opacity))
}

._note a code:hover {
  --tw-border-opacity: 1!important;
  border-color: rgb(96 165 250/var(--tw-border-opacity))!important;
  --tw-text-opacity: 1!important;
  color: rgb(37 99 235/var(--tw-text-opacity))!important
}

._note a code:hover:is(.dark *) {
  --tw-border-opacity: 1!important;
  border-color: rgb(96 165 250/var(--tw-border-opacity))!important;
  --tw-text-opacity: 1!important;
  color: rgb(96 165 250/var(--tw-text-opacity))!important
}
