/* Color variables */
$main-light-color: #fcfcfc;
$point-light-color: #ededed;
$linear-color: #d3d1d1;
$main-font-color: #2c3e50;
$settings-light-color: #f2f1f7;
$scroll-light-color: #2C2C2C9E;

/* Dark mode */
$main-dark-color: #21262d;
$point-dark-color: #010409;
$linear-dark-color: #30363d;
$dark-hover-color: #c9d1d9;
$dark-font-color: #616267;

$pc-header-height: 60px;
$pc-header-interval: 10px;

/* 좌측 네비게이터 넓이 */
$pc-navigator-width: 300px;
$tablet-navigator-width: 300px;
$mobile-navigator-width: 100%;

/* 네비게이터 태블릿모드 확장버튼 크기 */
$navigator-extend-button-width: 50px;


/* 네비게이터 내부 패딩 */
$pc-navigator-padding: 20px;
$tablet-navigator-padding: 10px;

/* 코드블럭 라인넘버 넓이 */
$code-ln-wrapper-width: 3.5rem;

$small-icon-size: 25px;



@mixin tablet {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;

  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;

  }
}

