div[class^=language-] {

    /* Java */
    pre.language-java {

        .annotation {
            color: #cccc20;
        }

        .constant {
            color: #9c6b9d;

        }

        .keyword {
            color: #7171af;
            font-weight: 500;
        }

        .string {
            color: #4db46d;
        }

        .class-name:hover {
            color: #5cbdfb;
            text-decoration: underline #5cbdfb;
            text-shadow: 0 0 3vw #8298e3;
            transition: 0s;
        }
    }

    /* Swift */
    pre.language-swift {

        .operator {
            color: #67cdcc;
        }

        .keyword {
            color: #cc99cd;
            font-weight: 500;
        }

        .number {
            color: #8181f3;
        }

        .string-literal {
            color: #7ec699;
        }

        .interpolation {
            color: white;
        }

        .interpolation-punctuation {
            color: #f08d49;
        }

        .function {
            color: #f08d49;
        }
    }


    /* javascript */
    pre.language-javascript {

        .operator {
            color: #67cdcc;
        }

        .keyword {
            color: #cc99cd;
            font-weight: 500;
        }

        .number {
            color: #8181f3;
        }

        .string {
            color: #7ec699;
        }

        .interpolation {
            color: white;
        }

        .function {
            color: #f08d49;
        }
    }

    /* typescript */
    pre.language-typescript {
        .class-name {
            color: #61afef;
        }

        .operator {
            color: #67cdcc;
        }

        .keyword {
            color: #cc99cd;
            font-weight: 500;
        }

        .number {
            color: #8181f3;
        }

        .string {
            color: #7ec699;
        }

        .interpolation {
            color: white;
        }

        .function {
            color: #f08d49;
        }

        .builtin {
            color: #cc99cd;
        }
    }

    &:before {
        position: absolute;
        z-index: 3;
        top: 0.8em;
        right: 1em;
        font-size: .75rem;
        color: hsla(0,0%,100%,.4);
    }

    &.language-java:before {
        content: "java"
    }

    &.language-swift:before {
        content: "swift"
    }



    &.language-javascript:before {
        content: "js";
    }

    &.language-typescript:before {
        content: "ts";
    }

    &.language-swift:before {
        content: "swift";
    }

    &.language-java:before {
        content: "java";
    }
}
